.delete-button{
  transition: opacity .2s;
}
.delete-button:hover,
.delete-button:focus {
  background-color: var(--remove-color);
  border-color: var(--remove-color);
  color: var(--extra-dark);
}

.delete-button:disabled{
  opacity: .7;
}