.search-input__label {
  position: relative;
  display: flex;
  align-items: center;
}

.search-input {
  border: none;
  border-radius: 15px;
  padding: 5px 5px 5px 25px;
  transition: opacity .2s;
  appearance: none;
}

.search-input:disabled{
  opacity:.8;
}

.search-icon {
  position: absolute;
  left: 5px;
}

.search-input:focus~.search-icon {
  animation: toggle .3s forwards;
}

@keyframes toggle {
  50% {
    transform: rotate(-15deg);
  }

  75% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(0deg);
  }
}