*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Spartan;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root{
  --extra-dark: #202020;
  --extra-light: #ffffff;
  --light-brown: #beab9e;
  --medium-brown: #b3814e;
  --dark-brown: #4d2f18;

}
@font-face {
  font-family: Spartan;
  src: url(./assets/fonts/LeagueSpartan.ttf);
}
