.item-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
  padding: 5px;
}

.item-wrapper textarea{
  width: 100%;
  resize: vertical;
  max-height: 200px;
  color: var(--extra-light);
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 7px;
  border: none;
  border-radius: 15px;
}