.wrapper {}

#close-btn {
  position: absolute;
  left: 10px;
}

.picture-img-block {}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  transition: .3s;
}

.img:hover {
  object-fit: contain;
}

.picture-like-block{
  position:absolute;
  left: 10px;
  bottom:10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap:3px 10px;
  padding: 5px 7px;
  background-color:rgba(0, 0, 0, 0.61);
  border-radius:15px;
  color:var(--extra-light);
}

.picture-info-wrapper {
  display: flex;
  justify-content: stretch;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  min-width: 50%;
  max-width: 75%;
  background-color: rgba(0, 0, 0, 0.6);
  transition: transform .3s;
}

.closed-picture-info {
  transform: translateX(100%);
}

.hide-picture-info-btn {
  transition: transform .3s;
  border: none;
  background-color: inherit;
  cursor: pointer;
}

#arrow-icon {
  color: white;
  width: 20px;
  height: 20px;
  transition: transform .5s;
}

.closed-picture-info .hide-picture-info-btn {
  transform: translateX(-100%);
}

.closed-picture-info #arrow-icon {
  transform: rotate(180deg);
}

.picture-info-block {
  width: 100%;
  color: var(--extra-light);
  overflow-y: auto;
}

.author-info-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px 10px 5px 5px;
}

.author-info-block div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-info-block {
  padding: 0 10px;
}

.author-avatar {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

.author-info-nickname {
  font-size: 1.4rem;
}

.author-info-fullname {
  font-size: 1rem;
}

.main-title {
  font-size: 1.2rem;
  padding: 15px 0;
  text-decoration-line: underline;
}

.main-description__wrapper{
  border-radius:15px;
  overflow: hidden;
}

.main-description {
  max-height: 200px;
  overflow: hidden;
  overflow-y: auto;
  padding: 15px;
  background-color: rgba(0, 0, 0, 0.644);  
}

.picture-tags__header{
  padding:10px 5px 5px 10px;
}

.picture-tags__list{
  display: flex;
  gap:5px 10px;
}

@media (max-width:900px) {
  .picture-info-wrapper {
    min-width: 90%;
  }
}
