.table{
  color: var(--extra-light);
width: 100%;
height: 100%;
}

.table-head{
  top:0;
  position: sticky;
  background-color: var(--extra-dark);
}

.table th{
  font-weight: 100;
  background-color: rgba(0, 0, 0, 0.7);
}

.table td{
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.actions-table-cell{
  display: flex;
  justify-content: center;
  gap: 5px;
}