.comment-item{
  border-radius: 15px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 5px;
  margin-top:5px;
  background-color: var(--extra-light);
  color: var(--extra-dark);
}

.user-info{
  display:flex;
  align-items: center;
  flex-wrap: wrap;
  gap:5px 15px;
  padding-bottom: 5px;
}

.user-avatar-nickname{
  display: flex;
  align-items: center;
  gap:5px;
}

.user-avatar{
  width:25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-comment-panel{
  display: flex;
  gap:5px;
  justify-content: center;
  flex-wrap: wrap;
}

.submit-changes-btn,
.clear-changes-btn{
  border:1px solid black;
  border-radius: 10px;
  padding: 2px 5px;
  background-color:transparent;
  cursor: pointer;
}

.comment-info{
  display:flex;
  flex-direction: column;
  gap:5px 10px;
  padding-top: 5px;
  max-height: 350px;
  overflow-y: auto;
}

.comment__text-area{
  resize: vertical;
  max-height: 250px;
  border-radius:10px;
  padding: 5px;
}

.comment-bottom-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-creation-date,
.comment-update-date{
  text-align: end;
  font-size: .3rem;
}

.comment-like-block{
  display: flex;
  align-items:center;
}

.like-btn{
  color: black;
}

.create-comment-form__wrapper{
}