.user-cabinet__wrapper {
  /* background-color: var(--medium-brown); */
}

.cabinet-navbar{
  padding:7px;
  background-color: var(--extra-dark);
  text-align: center;
}

.cabinet-navbar a {
  text-decoration: none;
  color: var(--extra-light);
  padding: 7px 5px;
  transition: color .2s, background-color .2s;
}
.cabinet-navbar a:hover,
.cabinet-navbar a:focus{
  background-color: var(--extra-light);
  color: var(--extra-dark);
}